.section {
    display: grid;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 5px #ddd;
}

.section__title {
    margin: 0;
    padding: 15px;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 5px;
    border-bottom: 2px solid rgba(211, 211, 211, 0.562);
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}