.list {
    margin: 0;
    padding: 30px 20px 10px 20px;
    list-style: none;
}

.list__item {
    border-bottom: 2px solid rgba(211, 211, 211, 0.562);
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px 1fr 30px;
}

.list__item--hide {
    display: none;
}

@media(max-width: 767px) {
    .list {
        grid-template-columns: 1fr;
    }
}

.list__paragraph {
    word-break: break-all;
    flex-basis: 100%;
}

.list__paragraph--done {
    text-decoration: line-through;
}

.list__button {
    border: none;
    color: white;
    height: 30px;
    max-width: 30px;
    transition: 1s;
}

.list__button--done {
    background: green;
    grid-column: 1;
}

.list__button--remove {
    background: crimson;
    grid-column: 3;
}

.list__button--done:hover {
    background: hsl(120, 100%, 35%);
}

.list__button--remove:hover {
    background: hsl(348, 83%, 57%);
}